---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="hero min-h-screen" style="background-image: url(https://raw.githubusercontent.com/Front-End-Coders-Mauritius/google-photos-sync/main/timeliner_repo/processed/data/2022/08/google_photos/AORIwnK2t7xurGPoo7z7m5fPt3YkaVbuNmWoYixYZzA7E0fmK3mGDe33CoYc-fLG-G-n5TJkUYZHXaIYirWa93G6bPlPzzq0nA.webp);">
			<div class="hero-overlay bg-opacity-60"></div>
			<div class="hero-content text-center text-neutral-content">
			  <div class="max-w-md">
				<h1 class="mb-5 text-5xl font-bold">frontend.mu</h1>
				<p class="mb-5">Front-End Coders Mauritius is a community around front-end development based in Mauritius. We also organise monthly meetups free for anyone interested to attend.
				</p>
				<a href="/speakers" class="btn btn-primary">View all speakers</a>
			  </div>
			</div>
		  </div>

		

		<button class="btn">Button</button>
	</body>
</html>
