---
const props = Astro.props;
---

<div class="card card-side bg-base-600 shadow-xl">
    <figure>
        <img
            src={`https://github.com/${props.speaker.github_account}.png`}
            alt="Movie"
        />
    </figure>
    <div class="card-body">
        <h2 class="card-title">{props.speaker.name}</h2>
        <div class="card-actions justify-end">
            <button class="btn btn-primary">View</button>
        </div>
    </div>
</div>
